<!-- Validation failure messages -->
<% if @saved_contact.errors.any? %>
  <% @saved_contact.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Saved Contact</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_saved_contact" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <%= select_tag(:student_id, options_from_collection_for_select(Student.all, :id, :first_name, @saved_contact.student_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Saved Contact
      </button>
      or
      <a href="/saved_contacts">Cancel</a>
    </form>
  </div>
</div>
