<!-- Validation failure messages -->
<% if @saved_contact.errors.any? %>
  <% @saved_contact.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Saved Contact</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_saved_contact" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= @saved_contact.student_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @saved_contact.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Saved Contact
      </button>
      or
      <a href="/saved_contacts">Cancel</a>
    </form>
  </div>
</div>
